@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700;900&display=swap');
body {
  font-family: 'Raleway', sans-serif;
}

.ant-layout {
  background: #ffffff;
}

.ant-layout-footer {
  background: #ffffff;
}